<!DOCTYPE html>
<html>
<asp:Image runat="server" ID="img_logo_principal" ImageUrl="/Imagens/sant.jpeg" />
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/identity-example-style.css" rel="stylesheet" />
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar navbar-dark bg-dark">
        <div class="img-container">
            <div class="photo-index-card">
                <img class="photo-img" src="~/images/blackberries.jpg" alt="Sample Image" width="70" />
            </div>
        </div>
        <div class="collapse navbar-collapse" id="nav-content">
            <ul class="navbar-nav" id="nav-content">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Student")">PROJETOS<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("CourseDetails", "Student")">PLANTAS</a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Logout", "Account")">Logout</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Login", "Account")">Login</a>
                    </li>
                }
            </ul>
        </div>
    </nav>
    <h1 class="main-title"> GUISPIN - ENGENHARIA E PROJETOS</h1>
    <div>
        @RenderBody()
    </div>
    @RenderSection("Scripts", false)
</body>
</html>
